---
const { title = "", id = "", unitId = "", tutorialId = "" } = Astro.props;
---

<astro-checkbox data-id={id} data-title={title} data-unitid={unitId} data-tutorialid={tutorialId}>
    <input type="checkbox" id ={id} name={unitId} value={tutorialId} />
    <label for="checkbox">{title}</label>
</astro-checkbox>


<script>
    
import { isTemplateMiddle } from 'typescript';
import { checkMap } from './tutorialStore.ts';

    class Checkbox extends HTMLElement{
        constructor(){
            super();
            
            // Variables
            const id = this.dataset.id;
            const title = this.dataset.title;
            const unitId = this.dataset.unitid;
            const tutorialId = this.dataset.tutorialid;

            function openDialog(){
                if(id){
                    console.log('unit Id: ', unitId);
                    console.log('condition: ', checkMap.get()[unitId]);
                      if (checkMap.get()[unitId]?.checked){  
                        checkMap.setKey(unitId, {checked:false, itemTitle:{title}, tutorial:{tutorialId}});
                    }else{
                        checkMap.setKey(unitId, {checked:true, itemTitle:{title}, tutorial:{tutorialId}});
                    }
                    console.log('checkMap is now: ', checkMap.get());
                }
            }
               
            const checkbox = this.querySelector('input');
            checkbox?.addEventListener('change', () => {
            });
            document.getElementById(id)?.addEventListener('change', openDialog);
        }
    }
    customElements.define('astro-checkbox', Checkbox)

</script>