---
const { title = "", id = "", unitId = "", tutorialId = "" } = Astro.props;
---





<astro-checkbox data-id={id} data-title={title} data-unitid={unitId} data-tutorialid={tutorialId}>
    <input type="checkbox" id ={id} name={unitId} value={tutorialId} />
    <label for="checkbox">{title}</label>
</astro-checkbox>


<script>
    
import { isTemplateMiddle } from 'typescript';
import { isChecked, checkMap } from './tutorialStore.ts';

   

    class Checkbox extends HTMLElement{
        constructor(){
            super();
            
            // Variables
            const id = this.dataset.id;
            const title = this.dataset.title;
            const unitId = this.dataset.unitid;
            const tutorialId = this.dataset.tutorialid;

            function openDialog(){
                if(id){
                    const lookup = checkMap.get();
                    console.log('Lookup:', lookup );
                    console.log('Lookup id:', lookup[id]);
                    // console.log('Conditions: ', typeof lookup !== 'undefined', typeof lookup[id] !== 'undefined', typeof lookup[id][unitId] !== 'undefined', typeof lookup[id][unitId][checked] !== 'undefined', lookup[id][unitId][checked])
                    if (typeof lookup !== 'undefined' && typeof lookup[id] !== 'undefined' && typeof lookup[id][unitId] !== 'undefined' && typeof lookup[id][unitId].checked !== 'undefined' && lookup[id][unitId].checked){
                        console.log('unit Id: ', unitId);
                        checkMap.setKey(id, {[unitId]:{checked:false}});
                    }else{
                        checkMap.setKey(id, {[unitId]:{checked:true}});
                    }
                    console.log('checkMap is now: ', checkMap.get());
                }
            }
               
            
            const checkbox = this.querySelector('input');
            checkbox?.addEventListener('change', () => {
                console.log('ID: ', id, isChecked.get());
            });
            document.getElementById(id)?.addEventListener('change', openDialog);
        }
    }
    customElements.define('astro-checkbox', Checkbox)

</script>